/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */

@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
/* Styles for the body */

body {
	font-family: 'Vollkorn', serif;
	color: #202030;
	background-color: #f8f2eb;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #59372E;
	color: aliceblue;

}

.resume-main {
	background-color: #f8e8d5;
	color: rgb(0, 0, 0);
}

.resume-aside {
	background-color: #fcf5ed;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #facaa7;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.Poderytefont {
font-family: 'Lobster', cursive;
}
